<div class="container d-flex flex-column justify-content-center align-items-center vh-100 text-center">
    <h1 class="mb-4">Bienvenue sur votre tableau de bord</h1>
    <p class="mb-5">Gérez vos offres d'emploi facilement avec les options ci-dessous.</p>
    <div>
      <button 
        class="btn btn-primary btn-lg me-3" 
        (click)="navigateToAjouterOffre()">Ajouter une offre d'emploi</button>
      <button 
        class="btn btn-secondary btn-lg" 
        (click)="navigateToConsulterOffres()">Consulter les offres d'emploi</button>
    </div>
  </div>
  